.section2{
    background-color: #2C343E;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 180px;
    border-radius: 10px;

    &::before{
        content: "";
        position: absolute;
        top: -60px;
        right: 60px;
        width: 370px;
        height: 400px;
        background: url(../img/section3-pic.jpg) no-repeat;
        background-size: 100% 100%;
        border-radius: 10px;
    }

    &__content{
        width: 43%;
        color: white;
        margin: 70px 50px;
        margin-bottom: 125px;

        &__title{
            font-family: fraunces;
        }

        &__description{
            line-height: 24px;
        }
    }
}